// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/*!
 * Start Bootstrap - Shop Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.vp-bar {
  position: relative;
}

.optionsBar{
  position: absolute;
  background-color: #00b3ee;
  height: 100%;
  width: 50px;
  right: 0;
}

.stateBox{
  position: absolute;
  top: 450px;
  left: 10px;
}

#stateChange{
  margin-top: 10px;
}

.isolate {
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

#vp-navbar {
  height: 51px;
}

#vp-bar-sidebar {
  width: 210px;
  padding: 10px;
  top: 51px;
}

#vp-bar-main {
  left: 210px;
  top: 51px;
  right: 50px;
  bottom: 0;
}

div.vp-label{
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  -ms-transition:all .3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.05);
  color: #607889;
  border: 0px;
  font-weight: bold;
  text-align: center;
}

div.vp-label:hover{
  border : 1px solid #607889;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.x_label{
  font-size: 15px;
  color: #607889;
  fill: currentColor;
}

.y_label{
  font-size: 15px;
  color: #607889;
  fill: currentColor;
}

.y_label_line{
  font-size: 1.3em;
  color: #607889;
  fill: currentColor;
}

.vzb-invisible{
  visibility: hidden;
  display: none;
}

#vp-bar-stage {
  margin: auto;

  &:-webkit-full-screen {
    width: auto !important;
    height: auto !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .vp-dash-line {
    stroke-width: 1px;
    stroke: #999999;
    stroke-dasharray: 2 4;
  }
}
*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
  background-color: rgba(255, 255, 255, 0);
}

.axis {
  fill: #999999;

  .domain {
    stroke: #999;
    stroke-width: 1px;
    fill: none;
  }
  .tick line {
    stroke:#d0d0d0;
    stroke-width: 1px;
  }
}
